@tailwind base;
@tailwind components;
@tailwind utilities;

html[data-theme="light"] {
  --background: #f3f4f6;
  --secondary: #69717b;
  --primary: #000000;
  --card-bg: #ffffff;
  --border: #d1d5db;
  --hover: #e5e7eb;
  --text-muted: #6b7280;
  --accent: #3b82f6;
  --skeleton: #d1d5db;
}

html[data-theme="dark"] {
  --background: #181818;
  --secondary: #a0a0a0;
  --primary: #ffffff;
  --card-bg: #232323;
  --border: #383838;
  --hover: #2c2c2c;
  --text-muted: #b3b3b3;
  --accent: #3b82f6;
  --skeleton: #949494;
}

body {
  background-color: var(--background);
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
